<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<link href="/css/social-button.css" th:href="@{/css/social-button.css}" rel="stylesheet"></link>
	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
<body>
<div th:replace="layout :: footer"></div>

	<div style="background-color:#332e28">
		<footer th:fragment="footer" class="footer">
			<p>© 2019 Connectgram 	 </p>
		</footer>
	</div>
</body>
</html>