<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<body>

	<div>
		<header th:fragment="header">
			<img th:src="@{/img/logo.png}" width="100%">
		</header>
	</div>

</body>

</html>