<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<title>マイページ | Connectgram</title>
</head>
<body>
	<div th:replace="header :: header"></div>
<div th:text="こんにちは  + ${account.username} + さん"></div>
	<form action="/Main" method="get">
		<button type="submit">投稿一覧へ</button>
	</form>

		<form action="/myPost" method="get">
		<button type="submit">自身の投稿へ</button>
	</form>

	<br>
	<form action="#" th:action="@{/logout}" method="post">
		<input type="submit" value="ログアウト" />
	</form>
	<br>	<br>	<br>
	<div th:replace="footer :: footer"></div>
	
</body>
</html>